@model TaskProject.Infrastructure.DTO.Contact.ContactVM

<form class="modal-content" asp-area="cp" asp-controller="Currency" asp-action="@(Model.Id !=0 ? "Update":"Create")" data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="onModelError"
      data-ajax-complete="onModalComplete">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="AddCurrencyModalLabel"></h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text"
                           asp-for="Name" placeholder="Name"
                           class="form-control" />
                    <span asp-validation-for="Name" class="text-danger d-block"></span>
                </div>
                <div class="col mb-3">
                    <label asp-for="Address" class="form-label"></label>
                    <input type="text"
                           asp-for="Address" placeholder="Address"
                           class="form-control" />
                    <span asp-validation-for="Address" class="text-danger d-block"></span>
                </div>
            </div>
   
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">(Model.Id !=0 ? "Edit":"Save")]</button>
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">"Cancel"]</button>
        </div>
    </div>
</form> 