@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@section VendorsCSS {
    <link rel="stylesheet" href="/cpassets/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="/cpassets/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="/cpassets/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />
    <link rel="stylesheet" href="/cpassets/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4 page-active"><span class="text-muted fw-light">"General settings /</span> "contact settings</h4>
    <!-- Responsive Datatable -->
    <div class="card">
        <div class="card-body">
            <div class="dt_adv_search">
                <div class="row">
                    <div class="col-12">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <select class="select2 form-select form-select-lg" data-allow-clear="true" id="Status" data-placeholder="Status">
                                    <option></option>
                                    <option value="@true">Active"</option>
                                    <option value="@false">Dis Active"</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="button" onclick="DoSearch()" title="search" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">
                                    <i class="fa-solid fa-magnifying-glass mx-1"></i>Search
                                </button>
                                <button type="button" onclick="DoClear()" title=" clear" class="btn btn-label-secondary waves-effect">
                                    <i class="fa-solid fa-trash mx-1"></i>"Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-0" />
        <div class="card-datatable table-responsive pt-0">
            <table class="datatables-basic table" id="ContactsPageDT">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Code</th>
                        <th>Name  </th>
                        <th>phone</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th class="table-actions">Procedures</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--/ Responsive Datatable -->
</div>
<div class="modal fade" id="AddContactModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
</div>

<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />
@section VendorsJs {
    <!-- Vendors JS -->
    <script src="/cpassets/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/cpassets/assets/vendor/js/vfs_fonts.js"></script>
}

@section Scripts{
    <script>
        $(function () {
            DoSearch();
        });
        DataTableColumns = [
            {
                "data": "id",
                "className": "tools-td",
                "render": function (data, type, row) {
                    return '';
                }
            },
            { "data": "id" },
            { "data": "name" },
            { "data": "phone" },
            { "data": "address" },
            {
                "data": "id",
                "className": "tools-td text-center", "orderable": false,
                "render": function (data, type, row) {
                    var tag = '';
                    tag += '<td class="actions"> ';
                    if (row.isActive) {
                        tag += `<label class="switch switch-success">
                                                            <input type="checkbox" class="switch-input" onclick="event.preventDefault(); disActive('${data}')" checked>
                                                    <span class="switch-toggle-slider">
                                                      <span class="switch-on">
                                                        <i class="ti ti-check"></i>
                                                      </span>
                                                      <span class="switch-off">
                                                        <i class="ti ti-x"></i>
                                                      </span>
                                                    </span>
                                                  </label>`;
                    }
                    else {
                        tag += `<label class="switch switch-success">
                                            <input type="checkbox" class="switch-input" onclick="event.preventDefault(); active('${data}')">
                                    <span class="switch-toggle-slider">
                                      <span class="switch-on">
                                        <i class="ti ti-check"></i>
                                      </span>
                                      <span class="switch-off">
                                        <i class="ti ti-x"></i>
                                      </span>
                                    </span>
                                  </label>`;
                    }
                    tag += '</td>';
                    return tag;
                }
            },
            {
                "data": "id",
                "className": "tools-td text-center", "orderable": false,
                "render": function (data, type, row) {
                    var tag = '';
                    tag += '<td class="actions"> ';
                    tag += '<button class="btn btn-link p-1" onclick="edit(' + data + ')">';
                    tag += '<i class="fa-solid fa-edit text-secondary" > </i> ';
                    tag += '</button> ';
                    tag += '<button class="btn btn-link p-1" onclick="Delete(' + data + ')" > ';
                    tag += '<i class="fa-solid fa-trash text-danger"> </i> ';
                    tag += '</button> ';
                    tag += '</td> ';
                    return tag;
                }
            }
        ];

        function DoSearch() {
            var Obj = {
                IsActive: $("#Status").val(),
            };
            var LoadUrl = "/Contacts/GetDataTable";
            FindDataTable(LoadUrl, "ContactsPageDT", true, Obj, [{ ClassName: 'AddContact', Title: 'Add Contact' }]);
        }

        function DoClear() {
            $("#Status").val(null).change();
            DoSearch()
        }
    </script>

    <script>
        function Delete(id) {
            var msg = 'DeleteMsg';
            showAlert('danger', msg, 'Confirm', 'Cancel', () => {
                beginLoading('body');
                $.ajax({
                    url: '/Contacts/Delete',
                    type: "POST",
                    data: { id, '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        finishLoading('body');
                        showSuccessMessage('"DeleteSuccess');
                        DoSearch();
                    },
                    error: function () {
                        finishLoading('body');
                        showErrorMessage();
                    }
                });
            });
        }
        function active(id) {
            var msg = '"ActiveMsg';
            showAlert('info', msg, 'Confirm', 'Cancel', () => {
                beginLoading('body');
                $.ajax({
                    url: '/Contacts/Active',
                    type: "POST",
                    data: { id, '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        finishLoading('body');
                        showSuccessMessage('ActiveSuccess');
                        DoSearch();
                    },
                    error: function () {
                        finishLoading('body');
                        showErrorMessage();
                    }
                });
            });
        }
        function disActive(id) {
            var msg = 'DisActiveMsg';
            showAlert('info', msg, 'Confirm', 'Cancel', () => {
                beginLoading('body');
                $.ajax({
                    url: '/Contacts/DisActive',
                    type: "POST",
                    data: { id, '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        finishLoading('body');
                        showSuccessMessage('DisActiveSuccess');
                        DoSearch();
                    },
                    error: function () {
                        finishLoading('body');
                        showErrorMessage();
                    }
                });
            });
        }

        $(document).on("click", ".AddContact", function () {
            AddNew()
        });
        function AddNew() {
            beginLoading('body');
            var modal = $('#AddContactModal');
            $('#AddContactModal .modal-dialog').load('/Contacts/Create', () => {
                finishLoading('body');
                isedit = false;
                $("#AddContactModalLabel").text('"AddContact');
                $.validator.unobtrusive.parse(modal);
                $("#AddContactModal").modal('show');
                $('#AddContactModal .form-select').select2({
                    dropdownParent: $("#AddContactModal")
                }).on("change", function (e) {
                    $(this).valid();
                });
            })
        }

        function edit(id) {
            beginLoading('body');
            var modal = $('#AddContactModal');
            $('#AddContactModal .modal-dialog').load('/Contacts/Update?id=' + id, () => {
                finishLoading('body');
                isedit = true;
                $("#AddContactModalLabel").text('"UpdateContact');
                $.validator.unobtrusive.parse(modal);
                $("#AddContactModal").modal('show');
                $('#AddContactModal .form-select').select2({
                    dropdownParent: $("#AddContactModal")
                }).on("change", function (e) {
                    $(this).valid();
                });
            })
        }

        var isedit = false;
        function onModalSuccess(response) {
            if (response.isSuccess) {
                isedit ? showUpdatedMessage() : showSuccessMessage();
                $("#AddContactModal").modal('hide');
                DoSearch();
            }
            else {
                var msg = '';
                response.errors.forEach((error, i) => msg += error + '<br>');
                showErrorMessage(msg);
            }
        }
    </script>

}