
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a class="navbar-brand m-0" href="/cp">
            <img src="/uiassests/assets/imgs/logo.png" width="140" alt="logo">
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Contacts -->
        <li class="menu-item" active-when="Contacts">
            <a asp-controller="contacts" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-smart-home"></i>
                <div>Contacts</div>
            </a>
        </li>
           </ul>
</aside>